services:
  perfis-investimento-api:
    build:
      context: .
      dockerfile: PerfisdeInvestimento.API/Dockerfile
    container_name: perfis-investimento-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development 
      - ConnectionStrings__DefaultConnection=Data Source=/app/Data/perfisinvestimento.db
      - Jwt__Key=PerfisInvestimento2025!ChaveSuperSecretaParaJWT@123
      - Jwt__Issuer=PerfisdeInvestimentoAPI
      - Jwt__Audience=InvestimentoClientes
      - Jwt__ExpireHours=1
    volumes:
      - sqlite_data:/app/Data
    restart: unless-stopped

volumes:
  sqlite_data: